body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

.alert-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-info i {
  margin-left: 5px;
  color: #007bff;
}


.container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.alert-info {
  background-color: #e9f7ff;
  border-color: #b3d9ff;
  color: #007bff;
}



input[type="number"] {
  max-width: 200px;
  font-size: 16px;
  width: 159%;
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-success:active {
  background-color: #1e7e34;
  transform: scale(1);
}

.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.btn-outline-success:active {
  background-color: #1e7e34;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.btn-danger:active {
  background-color: #bd2130;
  transform: scale(1);
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.btn-warning:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}

.btn-warning:active {
  background-color: #d39e00;
  transform: scale(1);
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}